/* Index.html */
.navbar{
  background-color: rgb(39, 142, 161);
}

/* navbar text colour */
.navbar .container-fluid a{
  color: white;
}

.mainsection .container{
  text-align: center;
}

.mainsection{
  background-color: rgb(204, 204, 204);
  padding-bottom: 30px;
}

/* background colour of os (cards) */
.w3-card-4{
  background-color: white;
}

.jumbotron{
  margin-bottom: 0;
  background-color: black;
  justify-content: center;
}

.jumbotron h1{
  color: white;
  text-align: center;
}

.jumbotron #myModal{
  justify-content: center;
  text-align: center;
  width: 100%;
}

.midsection{
  text-align: center;
  padding: 20px;
}

.mainsection .row img{
  width: 300px;
  height: 150px;
  justify-content: center;
}

.panel{
  color: white;
  background-color: rgb(39, 142, 161);
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 20px;
}

/* Contact Us page */
.form {
  padding-top: 100px;
  padding-bottom: 100px;
  display: inline-flex;
  width:100%;
  margin: auto;
  text-align: left;
  justify-content: center;
}

@media screen and (max-width:750px){
  .form{
    display:block;
  }
